<!DOCTYPE html>
<html lang="en">
<head>
    <title><block name="title">商家信息</block></title>
    <meta content="<block name="keywords"></block>" name="keywords">
    <meta content="<block name="description"></block>" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <block name="style"></block>
</head>
<body>
<block name="container"></block>
<script type="text/javascript" src="__STATIC__/common/??vue.js?{:C('APP_VERSION')}"></script>
<script type="text/javascript" src="__STATIC__/common/??jquery.min.js?{:C('APP_VERSION')}"></script>
<block name="script"></block>
</body>
</html>